.navbar {
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,70,124,1) 0%, rgba(4,2,58,1) 0%, rgba(9,9,121,1) 0%, #9500ff 0%, rgba(117,46,204,1) 0%, rgba(117,46,204,1) 100%);

}

.navbar-light .navbar-nav .nav-link {
   color: white;
   font-size: 20px;
}


